body{
	color:					black;
	font-size: 				12px;
	font-weight: 			bold;
	font-family:			Arial, Verdana, Serif;
	text-align: 			center;
	background:				url('#{facesContext.externalContext.requestContextPath}/resources/images/bg.jpg') no-repeat;
}

.wrapper {
	width: 100%;
	overflow: hidden;
}

.headerLeft {
	width: 10%;
}

.headerRight {
	width: 90%;
}

.labelField {
	width: 150px;
	font-size: 14px;
	font-weight: bold;
	text-align:	left;
}

.textField {
	font-size: 12px;
	font-weight: normal;
	border: 0px solid white;
	text-align:	left;
	width: 175px;
}

.ui-panelgrid tr,
.ui-panelgrid td,
.noBorder.ui-widget-content,
.ui-layout-unit-content,
.layoutPaginaConteudo {
    background: none;
    border-style: none !important;
}

.ui-layout-north {
	z-index:20 !important;
	overflow:visible !important;
}

.ui-layout-north .ui-layout-unit-content {
	overflow:visible !important;
}

.DISPONIVEL{
	background-color: #1AED67!important;
}

.OCUPADO {
	background-color: #FF4557!important;
}

.RESERVADO{
	background-color: #fdfd00!important;
}

.MANUTENCAO{
	background-color: #5badff!important; 
}