<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
   "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition template="/WEB-INF/templates/layout.xhtml"
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui">
	<ui:define name="centerContent">
		<h:form>
			<p:panel>
				<f:facet name="header">
					<h1>Controlar Consumos</h1>
				</f:facet>
				<p:panel>
					<p:panelGrid columns="2" columnClasses="labelField, textField">
						<h:outputLabel for="numeroReserva" value="Número da Reserva:" />
						<p:inputText id="numeroReserva"
							value="#{controlarConsumosMB.reserva.id}" maxlength="50" />
					</p:panelGrid>

					<p:panel styleClass="noBorder">
						<p:commandButton value="Pesquisar"
							action="#{controlarConsumosMB.pesquisar}" update="resultados" />
					</p:panel>
				</p:panel>

				<p:spacer height="25px" />

				<p:panel id="resultados" styleClass="noBorder">
					<p:dataTable value="#{controlarConsumosMB.reserva.itemServicos}"
						var="itemServicos" rowKey="#{itemServicos.id}">
						<f:facet name="header">
							Serviços
						</f:facet>

						<p:column headerText="Código">
							#{itemServicos.servico.id}
						</p:column>
						<p:column headerText="Tipo">
							#{itemServicos.servico.tipo}
						</p:column>
						<p:column headerText="Preço">
							#{itemServicos.servico.preco}
						</p:column>
						<p:column headerText="Qtd">
							#{itemServicos.quantidade}
						</p:column>
					</p:dataTable>

					<p:panel>
						<p:panelGrid columns="4" columnClasses="labelField, textField">
							<f:facet name="header">
								Adicionar Novo Servico
							</f:facet>

							<h:outputLabel for="comboServicos" value="Produtos:" />
							<p:selectOneMenu id="comboServicos"
								value="#{controlarConsumosMB.novoItemServico.servico.id}">
								<f:selectItem itemLabel="Selecione.." noSelectionOption="true" />
								<f:selectItems value="#{controlarConsumosMB.servicos}"
									var="servico" itemLabel="#{servico.tipo}"
									itemValue="#{servico.id}" />
							</p:selectOneMenu>

							<h:outputLabel for="qtdServicos" value="Quantidade:" />
							<p:spinner id="qtdServicos" min="0" max="100"
								value="#{controlarConsumosMB.novoItemServico.quantidade}" />

						</p:panelGrid>
						<p:panel styleClass="noBorder">
							<p:commandButton value="Adicionar"
								action="#{controlarConsumosMB.adicionarServico}"
								update="resultados" />
						</p:panel>
					</p:panel>

					<p:dataTable value="#{controlarConsumosMB.reserva.itemProdutos}"
						var="itemProdutos" rowKey="#{itemProdutos.id}">
						<f:facet name="header">
							Produtos
						</f:facet>

						<p:column headerText="Código">
							#{itemProdutos.produto.id}
						</p:column>
						<p:column headerText="Tipo">
							#{itemProdutos.produto.nome}
						</p:column>
						<p:column headerText="Preço">
							#{itemProdutos.produto.preco}
						</p:column>
						<p:column headerText="Qtd">
							#{itemProdutos.quantidade}
						</p:column>
					</p:dataTable>

					<p:panel>
						<p:panelGrid columns="4" columnClasses="labelField, textField">
							<f:facet name="header">
								Adicionar Novo Produto
							</f:facet>

							<h:outputLabel for="comboProdutos" value="Produtos:" />
							<p:selectOneMenu id="comboProdutos"
								value="#{controlarConsumosMB.novoItemProduto.produto.id}">
								<f:selectItem itemLabel="Selecione.." noSelectionOption="true" />
								<f:selectItems value="#{controlarConsumosMB.produtos}"
									var="produto" itemLabel="#{produto.nome}"
									itemValue="#{produto.id}" />
							</p:selectOneMenu>

							<h:outputLabel for="qtdProdutos" value="Quantidade:" />
							<p:spinner id="qtdProdutos" min="0" max="100"
								value="#{controlarConsumosMB.novoItemProduto.quantidade}" />

						</p:panelGrid>
						<p:panel styleClass="noBorder">
							<p:commandButton value="Adicionar"
								action="#{controlarConsumosMB.adicionarProduto}"
								update="resultados" />
						</p:panel>
					</p:panel>
				</p:panel>
			</p:panel>
		</h:form>
	</ui:define>
</ui:composition>
