<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
   "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition template="/WEB-INF/templates/layout.xhtml"
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui">
	<ui:define name="centerContent">
		<h:form id="form">
			<p:panel>
				
				<f:facet name="header">
					<h1>Efetuar Reserva</h1>
				</f:facet>
				<p:panelGrid columns="2">
					<p:dataTable value="#{efetuarReservaMB.hospedes}" var="hosp" selection="#{efetuarReservaMB.reserva.hospedes}" rowKey="#{hosp.id}" style="width: 300px;" scrollable="true" scrollHeight="150">
						<f:facet name="header">
							Hospedes
						</f:facet>
						<p:column selectionMode="multiple" style="width:16px;text-align:center" />
						<p:column headerText="Nome">
							<h:outputText value="#{hosp.nome}" />
						</p:column>
					</p:dataTable>
					
					<p:dataTable value="#{efetuarReservaMB.quartos}" var="q" selection="#{efetuarReservaMB.quartoSelecionado}" rowKey="#{q.numero}" style="width: 300px;" scrollable="true" scrollHeight="150" selectionMode="single">
						<f:facet name="header">
							Quartos
						</f:facet>
						<p:column headerText="Número">
							<h:outputText value="#{q.numero}" />
						</p:column>
						<p:column headerText="Modelo">
							<h:outputText value="#{q.modelo}" />
						</p:column>
					</p:dataTable>
				</p:panelGrid>
				<p:panelGrid columns="6">
					<p:outputLabel value="Entrada:" />
					<p:calendar mindate="#{efetuarReservaMB.today}" value="#{efetuarReservaMB.reserva.inicio}">
						<p:ajax event="dateSelect" update="datasaida" />
					</p:calendar>
					
					<p:outputLabel value="Saida:" />
					<p:calendar id="datasaida" mindate="#{efetuarReservaMB.nextDate}" value="#{efetuarReservaMB.reserva.fim}" disabled="#{efetuarReservaMB.reserva.inicio eq null}" />
					
				</p:panelGrid>
				<p:commandButton value="Reservar" action="#{efetuarReservaMB.reservar}" ajax="false" />
			</p:panel>
		</h:form>
	</ui:define>
</ui:composition>
