<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
   "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition template="/WEB-INF/templates/layout.xhtml"
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui">
	<ui:define name="centerContent">
		<h:form id="form">
			<p:panel>
				<f:facet name="header">
					<h1>Verificar Disponibilidade de Quartos</h1>
				</f:facet>

				<!-- DataGrid que mostra todos os quartos -->
				<p:dataGrid value="#{verificarDisponibilidadeMB.quartos}"
					var="quarto" layout="grid" rows="30" paginator="false" id="quartos"
					rowsPerPageTemplate="6,12,16">
					<f:facet name="header">Disponibilidade de Quartos</f:facet>

					<!-- Header indicando o número do quarto -->
					<p:panel header="Quarto #{quarto.numero}" style="">
						<h:panelGrid columns="1" style="width:100%;"
							styleClass="#{quarto.situacao}">

							<!-- IMAGEM DO QUARTO -->
							<p:graphicImage library="images" name="quarto#{quarto.modelo.nome}.jpg" width="200px" /> 

							<!-- Modelo do quarto -->
							<h:outputText value="#{quarto.modelo.nome}" />

							<!-- Situação do Quarto -->
							<h:outputText value="#{quarto.situacao.nome}" />

							<!-- Botão para ver ver detalhes sobre o quarto. Abrirá uma dialog -->
							<p:commandLink update=":form:detalhes"
								oncomplete="PF('quartoDialog').show()" title="Ver Detalhes">
								<h:outputText styleClass="ui-icon ui-icon-search"
									style="margin:0 auto;" />
								<f:setPropertyActionListener value="#{quarto}"
									target="#{verificarDisponibilidadeMB.quartoSelecionado}" />
							</p:commandLink>
						</h:panelGrid>
					</p:panel>
				</p:dataGrid>


				<p:dialog id="quartoDialog" header="Informações do Quarto"
					widgetVar="quartoDialog" modal="true" height="160" width="280"
					appendTo="@(body)" resizable="false" showEffect="fade"
					hideEffect="fade">
					<p:outputPanel id="detalhes" style="text-align:center;">
						<p:panelGrid rendered="#{verificarDisponibilidadeMB.quartoSelecionado ne null}">

							<!-- NÚMERO DO QUARTO -->
							<p:row>
								<p:column>Número:</p:column>
								<p:column>#{verificarDisponibilidadeMB.quartoSelecionado.numero}</p:column>
							</p:row>
							

							<!-- MODELO DO QUARTO -->
							<p:row>
								<p:column>Modelo:</p:column>
								<p:column>#{verificarDisponibilidadeMB.quartoSelecionado.modelo.nome}</p:column>
							</p:row>

							<!-- PREÇO DO QUARTO -->
							<p:row>
								<p:column>Preço:</p:column>
								<p:column>
								<h:outputText value="#{verificarDisponibilidadeMB.quartoSelecionado.modelo.preco}">
								<f:convertNumber currencySymbol="R$" type="currency" minFractionDigits="2" />
								</h:outputText>
								</p:column>
							</p:row>

							<!-- CAPACIDADE DO QUARTO -->
							<p:row>
								<p:column>Capacidade:</p:column>
								<p:column>#{verificarDisponibilidadeMB.quartoSelecionado.modelo.capacidade}</p:column>
							</p:row>

							<!-- DISPONIBILDIADE -->
							<p:row>
								<p:column>Disponibilidade:</p:column>
								<p:column>#{verificarDisponibilidadeMB.quartoSelecionado.situacao.nome}</p:column>
							</p:row>
							
<!-- 							BOTÃO DE RESERVAR -->
							<p:row>
								<p:column colspan="2">
									<p:commandButton value="Reservar"
										rendered="#{verificarDisponibilidadeMB.quartoSelecionado.situacao.nome eq 'Disponível'}"
										style="text-align:center;" ajax="false">
											<f:param name="quarto" value="#{quartoSelecionado}" />
										</p:commandButton>							
								</p:column>
							</p:row>
						</p:panelGrid>
					</p:outputPanel>
				</p:dialog>
			</p:panel>
		</h:form>
	</ui:define>
</ui:composition>
