<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
   "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition template="/WEB-INF/templates/layout.xhtml"
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui">
	<ui:define name="centerContent">
		<h:form>
			<p:panel>
				<f:facet name="header">
					<h1>Acesso</h1>
				</f:facet>
		        <h:outputText value="Matrícula: " />
		        <p:inputText id="username" value="#{loginMB.matricula}" />
		         
		        <h:outputText value="Senha: " />
		        <p:password id="password" value="#{loginMB.senha}" />
		         
		        <p:panel styleClass="noBorder">
		        	<p:commandButton action="#{loginMB.validateUsernamePassword}" value="Login"/>
		        </p:panel>
		   	</p:panel>
		</h:form>
	</ui:define> 
</ui:composition> 
