<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
   "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui">
<h:body>
	<h:form>
		<h:panelGrid columns="2" style="width:100%;"
			columnClasses="headerLeft, headerRight">
			<p:commandLink action="/index.jsf">
			</p:commandLink>
		</h:panelGrid>
		<h:panelGrid columns="2" style="width:100%;"
			columnClasses="headerLeft, headerRight">
			<p:slideMenu style="width:202px" backLabel="Voltar">
				<p:submenu label="Reservas">
					<p:menuitem value="Efetuar Reserva" url="/paginas/efetuarReserva.jsf" />
				</p:submenu>
				<p:submenu label="Hóspedes">
					<p:menuitem value="Consumos" url="/paginas/controlarConsumos.jsf" />
				</p:submenu>
				<p:submenu label="Quartos">
					<p:menuitem value="Verificar Disponibilidade" url="/paginas/verificarDisponibilidade.jsf" />
				</p:submenu>
				<p:menuitem value="Sair" action="#{loginMB.logout}" ajax="false" />
			</p:slideMenu>
		</h:panelGrid>
	</h:form>
</h:body>
</html>